$color-border: #eee;
$color-highlight-bg: #db4444;
$color-white: #ffffff;
$color-black: #000000;
$color-black-light: #333333;
$color-green: green;
$color-new-badge: #00ff66;      
$gray: #6c757d;               
$bg-light: #f8f9fa;
//Ecrans
$breakpoint-desktop: 850px;
$breakpoint-mobile: 768px;
$breakpoint-mobile-sm: 576px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop-lg: 1300px;
