.imageGrid {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.previewImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.addArticlePage{
    flex-grow: 1;;
}